.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem; /* Reducir el padding general */
    background-color: var(--surface-50);
    border-bottom: 2px solid var(--primary-300);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.25rem; /* Reducir el espacio entre el logo y el texto */
}

.header-logo {
    width: 35px; /* Reducir el tamaño del logo */
    height: 35px;
    margin-right: 0.25rem;
}

.header-navigation {
    display: flex;
    gap: 0.75rem; /* Reducir el espacio entre los botones de navegación */
    flex-grow: 1;
    justify-content: center;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 0.25rem; /* Reducir el espacio entre los iconos en las acciones */
}

.header-user {
    display: flex;
    align-items: center;
    gap: 0.25rem; /* Reducir el espacio entre el nombre de usuario y el botón de logout */
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.header-actions button{
    width: 40px;
    height: 40px;
}