/* Login Styles */
.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 60px; /* Espacio reservado para el BottomNav */
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.login-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.form-input:focus {
  box-shadow: 0px 0px 5px rgba(66, 165, 245, 0.6);
  border-color: #42a5f5;
}

.error-message {
  margin-top: 0.5rem;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #333;
}

.remember-me-label {
  margin-left: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

.register-link {
  text-align: center;
  font-size: 0.9rem;
  color: #333;
  margin-top: 1.5rem;
}

.register-link a {
  color: #4caf50;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
