.productos-page {
    background-color: #f4f4f4;
}
.products-container{
    padding: 20px 20px 100px;
}

.dialog-image {
    width: 100%; /* La imagen ocupa el ancho completo del diálogo */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 300px; /* Limita la altura máxima */
    object-fit: cover;
    border-radius: 8px;
}
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-header h3 {
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
}

.category-dropdown {
    width: 200px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-dialog {
    animation: fadeIn 0.3s ease-in-out;
}

.dialog-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {

    .category-dropdown{
        width: 150px;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 5px;
    }

    .products-container{
        margin: 0 auto;
        padding: 2px;
    }
}

